<?xml version="1.0" encoding="utf-8" ?>
<!--
    Hinweis: Fügen Sie der Datei "App.config" Einträge für Konfigurations-
    einstellungen hinzu, die sich ausschließlich auf das Testprojekt beziehen.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
